<h5 class="text-center mt-3">Detailed Vendor</h5>

<section class="bg-light mt-3 px-5 py-5">
    <div class="row mt-2 ">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">COMPANY CODE</th>
                        <th scope="col">COMPANY NAME</th>
                        <th scope="col">PERSON NAME</th>
                        <th scope="col">MOBILE NUMBER</th>
                        <th scope="col">PHONE NUMBER</th>
                        <th scope="col">COMPANY ADDRESS</th>
                        <th scope="col">CITY</th>
                        <th scope="col">STATE</th>
                        <th scope="col">GST NUMBER</th>
                        <th scope="col">PAN NUMBER</th>
                        <th scope="col">TIN NUMBER</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>001</td>
                        <td>POTHYS</td>
                        <td>POTHYS</td>
                        <td>POTHYS</td>
                        <td>POTHYS</td>
                        <td>POTHYS</td>
                        <td>POTHYS</td>
                        <td>POTHYS</td>
                        <td>POTHYS</td>
                        <td>POTHYS</td>
                        <td>POTHYS</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="justify-content-center mt-3">
        <div class="d-inline-flex">
            <a asp-controller="VendorManagement" asp-action="EditVendor" class="btn btn-primary" type="submit">Edit</a>
            <a asp-controller="Dashboard" asp-action="Dashboard" class="btn btn-primary mx-3">Cancel</a>
        </div>
    </div>
</section>

