@model Views_VendorManagement_EditVendor;
<h5 class="mt-3 text-center">Edit Vendor</h5>

<section class="bg-light mt-3 px-5 py-5">

    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label class="control-label">VendorCode</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">VName</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">PersonName</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">MobileNo</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">PhoneNo</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">VAddress</label>
                <input class="form-control" />
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label class="control-label">City</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">State</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">GSTNo</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">PANNo</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">TINNo</label>
                <input class="form-control" />
            </div>
        </div>
    </div>
    <section class="d-flex mt-3 justify-content-center">
        <div class="form-group">
            <a asp-controller="VendorManagement" asp-action="DetailsVendor" class="btn btn-primary mx-3">Save</a>
        </div>
        <div class="form-group">
            <a asp-controller="Dashboard" asp-action="Dashboard" class="btn btn-primary mx-3">Cancel</a>
        </div>

    </section>
</section>