<h5 class="text-center p-3">Asset Creation</h5>
<section class="d-flex">
      <div >   <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
        <label class="form-check-label" for="inlineRadio1"><b>Asset Type</b></label>
    </div>
     <div class="px-3">   <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
        <label class="form-check-label" for="inlineRadio2"><b>Asset Section Type</b></label>
    </div>
    <div class="px-3">    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="3">
        <label class="form-check-label" for="inlineRadio2"><b>Asset Sub Section Type</b></label>
    </div>
</section>

<section class="container-fluid bg-light mt-3 py-5">
    <p class="px-2"><b>Asset Type</b></p>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label class="control-label d-flex">Asset Code</label>
                <input class="form-control"/>
            </div>

            <div class="form-group">
                <label class="control-label d-flex">Asset Name</label>
                <input class="form-control"/>
            </div>

            <div class="form-group">
                <label class="control-label d-flex">Depreciation (%)</label>
                <input class="form-control" />
            </div>
            </div></div>

            <p class="py-2"><b>Asset Section Type</b></p>
            <div class="row">
              <div class="col-6">
            <div class="form-group">
                <label class="control-label d-flex">Section Code</label>
                <input class="form-control" />
            </div>

            <div class="form-group">
                <label class="control-label d-flex">Section Name</label>
                <input class="form-control" />
            </div>
        </div>
            </div>

            <p class="py-2"><b>Asset Sub Section Type</b></p>
            <div class="row">
                <div class="col-6">
            <div class="form-group">
                <label class="control-label d-flex">Sub Section Code</label>
                <input class="form-control" />
            </div>

            <div class="form-group">
                <label class="control-label d-flex">Sub Section Name</label>
                <input class="form-control" />
            </div>
        </div>
    </div> 
    <div class="d-inline-flex mt-3">
        <a asp-action="ViewAssets" class="btn btn-primary">Save</a>
     <a asp-controller="Dashboard" asp-action="Dashboard" class="btn btn-primary mx-3">Cancel</a>
    </div>
    
</section>
<script>
    // Get all the radio buttons
    var radioButtons = document.querySelectorAll('input[name="inlineRadioOptions"]');

    // Loop through each radio button and add a click event listener
    radioButtons.forEach(function (radioButton) {
        radioButton.addEventListener('click', function () {
            // Check if this radio button is checked
            if (radioButton.checked) {
                // Get the value of the radio button
                var selectedValue = radioButton.value;

                // Determine the URL to redirect to based on the selected value
                var redirectUrl = '';

                switch (selectedValue) {
                    case '1':
                        redirectUrl = '/AssetManagement/CreateAsset';
                        break;
                    case '2':
                        redirectUrl = '/AssetManagement/CreateSection';
                        break;
                    case '3':
                        redirectUrl = '/AssetManagement/CreateSubSection';
                        break;
                    // Add more cases for other values if needed

                    default:
                        // Handle default case or error
                        break;
                }

                // Redirect to the determined URL
                if (redirectUrl) {
                    window.location.href = redirectUrl;
                }
            }
        });
    });
</script>
