<h5 class="text-center p-3">Edit Asset Section</h5>

<section class="container-fluid bg-light mt-3 py-5">
    <p class="py-2"><b>Asset Sub Section Type</b></p>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label class="control-label d-flex">Sub Section Code</label>
                <input class="form-control" />
            </div>

            <div class="form-group">
                <label class="control-label d-flex">Sub Section Name</label>
                <input class="form-control" />
            </div>
        </div>
    </div>
    <div class="d-inline-flex mt-3">
        <a asp-action="ViewAssetsSubSection" class="btn btn-primary">Save</a>
        <a asp-action="ViewAssetsSubSection" class="btn btn-primary mx-3">Cancel</a>
    </div>
</section>
