@model PurchaseEntry
@{
    ViewData["Title"] = "CreatePurchase";
}

<h5 class="mt-3 text-center">Purchase Entry</h5>

<section class="bg-light mt-3 px-5 py-3">

    <div class="row">
        <div class="col-6">
            @* <div class="form-group">
                <label class="control-label">Purchase ID</label>
                <input  class="form-control" />
            </div> *@
             <div class="form-group">
                    <label class="control-label d-flex">Branch Code</label>
                <select class="form-select" id="Dropdown" aria-label="Branch">
                    <option value="">Select Branch</option>
                </select>
                </div>
            <div class="form-group">
                <label class="control-label d-flex">Company Code</label>
                <select class="form-select" id="Dropdown1" aria-label="Vendor">
                    <option value="">Select Vendor</option>
                </select>
                <a class="btn btn-link">Add Company</a>
            </div>
            <div class="form-group">
                <label class="control-label">Entry Date</label>
                <input type="date" class="form-control"/>
            </div>
        </div></div>
        <div class="row my-3">
        <div class="col-12 d-inline-flex justify-content-between">
            <div class="form-group col-2">
                <label class="control-label d-flex">Asset Type</label>
                <select class="form-select" id="assetTypeDropdown" aria-label="Asset Type">
                    <option value="">Select Asset Type</option>
                </select>
                <input type="hidden" asp-for="A_ID" id="Asset_Id" name="Asset_Id" />
            </div>
            <div class="form-group mx-2 col-2">
                <label class="control-label d-flex">Asset Section Type</label>
                <select class="form-select" id="assetTypeDropdown1" aria-label="Asset Section Type">
                    <option value="">Select Asset Section Type</option>
                </select>
                <input type="hidden" asp-for="ASEC_ID" id="Asset_Id" name="Asset_Id" />
            </div>
            <div class="form-group col-2">
                <label class="control-label">Asset Sub Section Type</label>
                <select class="form-select" id="assetTypeDropdown2" aria-label="Asset Sub Section Type">
                    <option selected>Select Asset Sub Section Type </option>
                </select>
                <input type="hidden" asp-for="ASSUB_ID" id="Asset_Id" name="Asset_Id" />
            </div>
            <div class="form-group mx-2 col-2">
                <label class="control-label">Quantity</label>
                <input class="form-control" />
            </div>
            <div class="mx-2">
                <a class="btn btn-link">Add</a>
            </div>
            <div class="form-group">
            <label>Invoice</label>
            <input type="file" class="form-control-file" id="exampleform" />
            </div>
        </div>
    </div>

    <h5 class="mt-3">Purchase Bill</h5>

    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label class="control-label">Company Name</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Bill Number</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Bill Date</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Purchase Amount</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Total Amount</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Product Description</label>
                <input class="form-control" />
            </div>
        </div></div>
    <div class="mt-3">
        <div class="d-inline-flex justify-content-center">
            <button type="submit" class="btn btn-success">Save</button>
            <a asp-controller="Dashboard" asp-action="Dashboard" class="btn btn-danger mx-3">Cancel</a>
        </div>
    </div>
</section>
<script>
    document.getElementById('assetTypeDropdown').addEventListener('change', function () {
        const selectedAssetId = this.value; // Get the selected value
        const modelAssetId = document.getElementById('Asset_Id'); // Get the hidden input for model's Asset_Id
        if (selectedAssetId !== '') {
            // Set the selectedAssetId as the value of the hidden input field
            modelAssetId.value = selectedAssetId;
            console.log('Selected Asset_ID:', selectedAssetId);

            // Optionally, you can trigger any additional actions here
        } else {
            // Handle the case where "Select Asset Type" is chosen (optional)
            modelAssetId.value = ''; // Clear the value
        }
    });
</script>
<script>
    // Function to populate the asset type dropdown
    function populateAssetTypeDropdown() {
        console.log("Populating asset type dropdown...");
        const assetTypeDropdown = document.getElementById("Dropdown");

        // Make an AJAX request to fetch asset types
        fetch("/PurchaseManagement/branchjson")
            .then((response) => response.json())
            .then((data) => {
                // Log the retrieved data to the console for debugging
                console.log("Retrieved data:", data);

                // Iterate through the retrieved asset types and add them to the dropdown
                data.forEach((asset) => {
                    const option = document.createElement("option");
                    option.value = asset.branchid; // Use the correct property name
                     //console.log("Asset Id:", asset.branchid);
                    // console.log("Asset Name:", asset.branchname);
                    option.text = `${asset.branchid} - ${asset.branchname}`; // Use the correct property name
                    assetTypeDropdown.appendChild(option);
                });
            })
            .catch((error) => {
                // Log any errors to the console for debugging
                console.error("Error fetching asset types: ", error);
            });
    }
    // Call the function to populate the asset type dropdown
    populateAssetTypeDropdown();

</script>
<script>
    // Function to populate the asset type dropdown
    function populateAssetTypeDropdown() {
        console.log("Populating asset type dropdown...");
        const assetTypeDropdown = document.getElementById("Dropdown1");

        // Make an AJAX request to fetch asset types
        fetch("/PurchaseManagement/vjson")
            .then((response) => response.json())
            .then((data) => {
                // Log the retrieved data to the console for debugging
                console.log("Retrieved data:", data);

                // Iterate through the retrieved asset types and add them to the dropdown
                data.forEach((asset) => {
                    const option = document.createElement("option");
                    option.value = asset.vid; // Use the correct property name
                    //console.log("Asset Id:", asset.branchid);
                    // console.log("Asset Name:", asset.branchname);
                    option.text = `${asset.vid} - ${asset.vname}`; // Use the correct property name
                    assetTypeDropdown.appendChild(option);
                });
            })
            .catch((error) => {
                // Log any errors to the console for debugging
                console.error("Error fetching asset types: ", error);
            });
    }
    // Call the function to populate the asset type dropdown
    populateAssetTypeDropdown();
</script>
<script>
    // Function to populate the asset type dropdown
    function populateAssetTypeDropdown() {
        console.log("Populating asset type dropdown...");
        const assetTypeDropdown = document.getElementById("assetTypeDropdown");

        // Make an AJAX request to fetch asset types
        fetch("/AssetManagement/sectionjson")
            .then((response) => response.json())
            .then((data) => {
                // Log the retrieved data to the console for debugging
                console.log("Retrieved data:", data);

                // Iterate through the retrieved asset types and add them to the dropdown
                data.forEach((asset) => {
                    const option = document.createElement("option");
                    option.value = asset.assetId; // Use the correct property name

                    // console.log("Asset Id:", asset.AssetId);
                    // console.log("Asset Name:", asset.AssetName);
                    option.text = `${asset.assetId} - ${asset.assetName}`; // Use the correct property name
                    assetTypeDropdown.appendChild(option);
                });
            })
            .catch((error) => {
                // Log any errors to the console for debugging
                console.error("Error fetching asset types: ", error);
            });
    }

    // Call the function to populate the asset type dropdown
    populateAssetTypeDropdown();
</script>
<script>
    // Function to populate the asset type dropdown
    function populateAssetTypeDropdown() {
        console.log("Populating asset type dropdown...");
        const assetTypeDropdown = document.getElementById("assetTypeDropdown1");

        // Make an AJAX request to fetch asset types
        fetch("/AssetManagement/subsectionjson")
            .then((response) => response.json())
            .then((data) => {
                // Log the retrieved data to the console for debugging
                console.log("Retrieved data:", data);

                // Iterate through the retrieved asset types and add them to the dropdown
                data.forEach((asset) => {
                    const option = document.createElement("option");
                    option.value = asset.assetId; // Use the correct property name
                    // console.log("Asset Id:", asset.AssetId);
                    // console.log("Asset Name:", asset.AssetName);
                    option.text = `${asset.sectionId} - ${asset.sectionName}`; // Use the correct property name
                    assetTypeDropdown.appendChild(option);
                });
            })
            .catch((error) => {
                // Log any errors to the console for debugging
                console.error("Error fetching asset types: ", error);
            });
    }

    // Call the function to populate the asset type dropdown
    populateAssetTypeDropdown();


</script>