<h5 class="text-center mt-3">View Purchase</h5>

<section class="bg-light mt-3 px-5 py-5">
    <dl class="row mt-2 ">
        <dt class="col-sm-2">Purchase ID</dt>
        <dd Class="col-sm-10"></dd>
        <dt class="col-sm-2">Branch Code</dt>
        <dd Class="col-sm-10"></dd>
        <dt class="col-sm-2">Company Code</dt>
        <dd Class="col-sm-10"></dd>
        <dt class="col-sm-2">Entry Date</dt>
        <dd Class="col-sm-10"></dd>
        <dt class="col-sm-2">Asset Type</dt>
        <dd Class="col-sm-10"></dd>
        <dt class="col-sm-2">Asset Section Type</dt>
        <dd Class="col-sm-10"></dd>
        <dt class="col-sm-2">Asset Sub Section Type</dt>
        <dd Class="col-sm-10"></dd>
        <dt class="col-sm-2">Quantity</dt>
        <dd Class="col-sm-10"></dd>
        <dt class="col-sm-2">Product Description</dt>
        <dd Class="col-sm-10"></dd>
        <dt class="col-sm-2">Company Name</dt>
        <dd Class="col-sm-10"></dd>
        <dt class="col-sm-2">Bill Number</dt>
        <dd Class="col-sm-10"></dd>
        <dt class="col-sm-2">Bill Date</dt>
        <dd Class="col-sm-10"></dd>
        <dt class="col-sm-2">Purchase Amount</dt>
        <dd Class="col-sm-10"></dd>
        <dt class="col-sm-2">Total Amount</dt>
        <dd Class="col-sm-10"></dd> 
    </dl>
    <div class="justify-content-center mt-3">
        <div class="d-inline-flex">
            <a asp-action="EditPurchases" class="btn btn-primary" type="submit">Edit</a>
            <a asp-controller="Dashboard" asp-action="Dashboard" class="btn btn-primary mx-3">Cancel</a>
        </div>
    </div>
</section>