<h5 class="text-center mt-3">View Sales</h5>

<section class="bg-light mt-3 px-5 py-5">
    <dl class="row mt-2 ">
        <dt class="col-sm-2">Sales ID</dt>
        <dd Class="col-sm-10"></dd>
        <dt class="col-sm-2">Purchase ID</dt>
        <dd Class="col-sm-10"></dd>
        <dt class="col-sm-2">Branch Code</dt>
        <dd Class="col-sm-10"></dd>
        <dt class="col-sm-2">Company Code</dt>
        <dd Class="col-sm-10"></dd>
        <dt class="col-sm-2 mt-1">Invoice</dt>
        <dd class="col-sm-10"><input type="file" class="form-control-file" id="exampleFormControlFile1"></dd>
        <dt class="col-sm-2">Entry Date</dt>
        <dd Class="col-sm-10"></dd>
        <dt class="col-sm-2">Asset Type</dt>
        <dd Class="col-sm-10"></dd>
        <dt class="col-sm-2">Asset Section Type</dt>
        <dd Class="col-sm-10"></dd>
        <dt class="col-sm-2">Asset Sub Section Type</dt>
        <dd Class="col-sm-10"></dd>
        <dt class="col-sm-2">Solid Item</dt>
        <dd Class="col-sm-10"></dd>
        <dt class="col-sm-2">Quantity</dt>
        <dd Class="col-sm-10"></dd>
        <dt class="col-sm-2">Company Name</dt>
        <dd Class="col-sm-10"></dd>
        <dt class="col-sm-2">Bill Number</dt>
        <dd Class="col-sm-10"></dd>
        <dt class="col-sm-2">Bill Date</dt>
        <dd Class="col-sm-10"></dd>
        <dt class="col-sm-2">Product Description</dt>
        <dd Class="col-sm-10"></dd>
        <dt class="col-sm-2">Depreciation Value</dt>
        <dd Class="col-sm-10"></dd>
        <dt class="col-sm-2">After Depreciation</dt>
        <dd Class="col-sm-10"></dd>
        <dt class="col-sm-2">Total Amount</dt>
        <dd Class="col-sm-10"></dd>
    </dl>
    <div class="justify-content-center mt-3">
        <div class="d-inline-flex">
            <a asp-action="EditSales" class="btn btn-primary" type="submit">Edit</a>
            <a asp-controller="Dashboard" asp-action="Dashboard" class="btn btn-primary mx-3">Cancel</a>
        </div>
    </div>
</section>
